// bu yerda proyectdagi barcha o'zgaruvchilar yozib boriladi.
$bg-color: #fff9ea;
$main-fonts: "Readex Pro", sans-serif;
// _function.scss variable
$number: 16;

// buttun variable
$main-btn-bg:  #ffcb45;
$btn-color:  #1d1d1d;

// circle variable

$circle-bg:  #FFAC4B;